.body{
    /* такая  */
    display:block;
    
    height: auto;
    margin: auto;
}

.header{
    display: flex;
    border-radius: 10px;
    align-items: center;
    /* flex-grow: 10; */
    justify-content: center;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
    color: rgb(3, 126, 30);
}

.main{
    display: flex;
    
    justify-content:center;
    align-items:flex-start;
    

    
}
.section {
    border-radius: 10px;
    color: rgb(64 64 64);
    text-indent: 2em;
    /* display: flex; */
    /* width: 80%; */

    

    text-align:justify;

    padding: 1em;

    /* margin: auto; */
    
}

.aside {
    background-color: gainsboro;
    min-width: 30%;
    width: 30%;
    
    border-radius: 10px 0 0 0;
    
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    
    text-indent: 2em;
    padding: 1em;

    /* margin: auto; */
}

.footer {
    text-align: center;
    padding: 1em;
    background-color: rgb(95, 51, 51);
    color: rgb(201, 201, 201);
}

p{
    display: inline;
    text-indent: 2em;
}